.vs/
Library/
Logs/
obj/

Assets/Editor/ExternalAssetImporter.cs

Assets/Editor/ExternalAssetImporter.cs.meta

Assets/Editor/IExternalAssetImportSetting.cs

Assets/Editor/IExternalAssetImportSetting.cs.meta

Assets/Editor/Test2.cs

Assets/Editor/Test2.cs.meta

Assets/Editor/TextureImportSetting.cs

Assets/Editor/TextureImportSetting.cs.meta

Temp/
